:root{
    --cor1: #172540; 
    --cor2:#294273;
    --cor3:#385DA6;
    --cor4:#5C8EF2;
    --cor5:#6BB3F2;

}
nav{
    box-shadow: 0px 0px 10px 10px var(--cor4);
    border-radius: 0px 0px 20px 20px;
    padding-top: 90px;
    width:calc(100% - 0px);
    position:absolute;

    background-image:linear-gradient(to bottom, var(--cor1), var(--cor2));
    
    
    


}
.botao{
    
     position: relative;
     bottom: 10mm;
     display: block;
     margin: 0 auto;
    font-style: italic;
    font-size: 50px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    background-color:linear-gradient(to bottom, var(--cor3), var(--cor4));
    border-radius: 10px;
    border: solid 2px rgb(0, 0, 0);   
}
.botao:hover{
    text-decoration: underline;
    background-color:var(--cor3);
    color: rgb(4, 5, 5);
    transform: scale(1.2);
}
.tabela{
    display: inline-table;
    height: 400px;
    width: 100%;
    padding: auto;
    margin: auto;
    border: solid 5px var(--cor1);
    background-color: #eeeff0;
    box-shadow: 20px 20px 20px black;
}
#texto{
text-align: left;
    border: solid black;
    border-radius: 5px;
}
.titulo{
    border: solid 3px;
    border-radius: 100px;
    margin-left: 500px;
    width: 400px;
    height: 200px;
    font-size: 40px;
}
body{
    max-width: 1300px;
    min-width: 270px;
    margin: auto;
    
    
}


form{
   padding-top: 200px; 
   display: block;
   margin: auto;
   max-width: 1100px;
   min-width: 300px;
    
}
a{
    text-decoration: none;
}


    




    



